@charset "UTF-08";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
}

.part_01 {
    margin-bottom: 150px;
}

.part_01 .header {
    width: 1920px;
    height: 90px;
    background-color: #023586;
    color: white;
    position: sticky;
    top: 0;
}

.part_01 .header .header_inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part_01 .header .header_inner .left_nav ul{
    display: flex;
}

.part_01 .header .header_inner .left_nav ul li {
    margin-right: 24px;
}

.part_01 .header .header_inner .right_nav ul{
    display: flex;
}


.part_01 .header .header_inner .right_nav ul li {
    margin-left: 24px;
}

.part_01 .main .main_visual_wrap {
    display: flex;
}

.part_02 {
    margin-bottom: 150px;
}

.part_02 h1{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 48px;
}

.part_02 .item_wrap {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.part_02 .item_wrap .item_01 .img_box {
    width: 100%;
    height: 338px;
    position: relative;
}

.part_02 .item_wrap .item_01 .img_box img {
    width: 100%;
    height: 100%;
}

.part_02 .item_wrap .item_01 .img_box p {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    background-color: #023586;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.part_02 .item_wrap .item_02 .img_box {
    width: 338px;
    height: 338px;
    position: relative;
}

.part_02 .item_wrap .item_02 .img_box img {
    width: 100%;
    height: 100%;
}

.part_02 .item_wrap .item_02 .img_box p {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    background-color: #023586;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.part_02 .item_wrap .item_03 .img_box {
    width: 338px;
    height: 338px;
    position: relative;
}

.part_02 .item_wrap .item_03 .img_box img {
    width: 100%;
    height: 100%;
}

.part_02 .item_wrap .item_03 .img_box p {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    background-color: #023586;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.part_02 .item_wrap .item_04 .img_box {
    width: 338px;
    height: 338px;
    position: relative;
}

.part_02 .item_wrap .item_04 .img_box img {
    width: 100%;
    height: 100%;
}

.part_02 .item_wrap .item_04 .img_box p {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    background-color: #023586;
    width: 46px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.part_02 .item_wrap .text_box {
    margin-top: 24px;
}

.part_02 .item_wrap .text_box h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
}

.part_02 .item_wrap .text_box a {
    color: #888888;
}

.part_03 {
    margin-bottom: 150px;
}

.part_03 h1{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 48px;
}

.part_03 .item_wrap {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.part_03 .item_wrap .item {
    width: 338px;
}

.part_03 .item_wrap .item img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.part_03 .item_wrap .item .text_box {
    margin-top: 24px;
}

.part_03 .item_wrap .item .text_box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.part_03 .item_wrap .item .text_box .detail {
    font-size: 16px;
    height: 36px;
    color: #888888;
    line-height: 20.8px;
}

.part_03 .item_wrap .item .text_box p {
    margin-top: 14px;
    font-size: 22px;
}

.part_04 {
    margin-bottom: 150px;
}

.part_04 h1{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 48px;
}

.part_04 .item_wrap {
    width: 1440px;
    margin: 0 auto;
}

.part_04 .item_wrap .first_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.part_04 .item_wrap .second_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.part_04 .item_wrap .item {
    display: flex;
}

.part_04 .item_wrap .item .text_box {
    margin-left: 30px;
    width: 338px;
}

.part_04 .item_wrap .item .text_box .ad {
    margin-bottom: 16px;
}

.part_04 .item_wrap .item .text_box h2 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}

.part_04 .item_wrap .item .text_box p {
    height: 90px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    overflow: hidden;
}

.part_04 .item_wrap .item .text_box span {
    display: block;
    font-size: 16px;
}

.middle_line {
    border-top: 2px solid #023586;
    border-bottom: 2px solid #023586;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 63px;
    line-height: 63px;
    margin-bottom: 150px;
    overflow: hidden;
}

.part_05 {
    margin-bottom: 150px;
}

.part_05 h1{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 48px;
}

.part_05 .item_wrap {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.part_05 .item_wrap .img_box{
    width: 100%;
    height: 570px;
    position: relative;
}

.part_05 .item_wrap .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part_05 .item_wrap .img_box .text_box {
    position: absolute;
    bottom: 24px;
    left: 28px;
    color: white;
}

.part_05 .item_wrap .img_box .text_box h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

.part_05 .item_wrap .img_box .text_box p {
    font-size: 16px;
}

.part_06 {
    margin-bottom: 150px;
}

.part_06 .title {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.part_06 .title a h1{
    font-size: 24px;
}

.part_06 .title p {
    margin-top: 14px;
    font-size: 14px;
}

.part_06 .item_wrap {
    width: 1880px;
    margin: 0 auto;
}

.part_06 .item_wrap .first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.part_06 .item_wrap .second-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.part_06 .btn {
    margin: 0 auto;
    display: block;
    background-color: #023586;
    color: white;
    font-size: 14px;
    width: 115px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 3px;
}

.part_07 {
    background-color: #023586;
    padding: 150px 0;
}
.part_07 .item_wrap {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.part_07 .item_wrap .item {
    width: 460px;
    height: 300px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part_07 .item_wrap .item .text_box h2{
    color: #023586;
    font-size: 20px;
    margin-bottom: 40px; 
}

.part_07 .item_wrap .item a {
    display: block;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #333;
}

.part_08 {
    background-color: #f4f4f4;
    padding-top: 64px;
    padding-bottom: 24px;
}

.part_08 .footer {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.part_08 .footer .left .info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.part_08 .footer .left .info h2 {
    font-size: 20px;
    margin-right: 30px;
}

.part_08 .footer .left .info .menu ul{
    display: flex;
}

.part_08 .footer .left .info .menu ul li{
    margin-right: 30px;
}

.part_08 .footer .left .follow h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.part_08 .footer .left .follow .menu ul {
    display: flex;
}

.part_08 .footer .left .follow .menu ul li{
    margin-right: 30px;
}

.part_08 .footer .right .contact {
    text-align: right;
}

.part_08 .footer .right .contact h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.part_08 .footer .right .contact .menu ul li {
    margin-bottom: 10px;
}

.part_08 .footer .right .contact .menu ul li:last-child {
    margin-bottom: 0px;
}

.part_08 .footer_img {
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}

.part_08 .footer_img ul {
    display: flex;
    margin-bottom: 80px;
    align-items: center;
}

.part_08 .footer_img ul li {
    margin-right: 20px;
}

.part_08 .footer_img ul li:last-child {
    margin-right: 0px;
}

.part_08 .footer_mid {
    width: 100%;
    margin: 0 auto;
}

.part_08 .footer_mid ul {
    display: flex;
    justify-content: center;
}

.part_08 .footer_mid ul li {
    margin-right: 20px;
}

.part_08 .footer_mid ul li:last-child {
    margin-right: 0px;
}